nav {
	padding-left: 20px;
	padding-right: 20px;
}

.container-fluid {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 30px;
	padding-bottom: 50px;
}

.output {
	padding: 5px;
	border: 1px solid black;
}
